@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');

:root {
	--base:#2E2B3F; 
	--dark:#211D3B;
	--darker:#14102E;
	--light:#4C4866;
	--lighter:#686582;
	
	--text:#FFFFFF;
	
	--button:rgba(0,0,0,.35);
	--button-hover:rgba(0,0,0,.5);
	--button-active:rgba(0,0,0,.75);
	
	--off-bg:#808080;
	--on-bg:#6699ff;
	--off-switch:#bfbfbf;
	--on-switch:#e6eeff;
}

/*
CSS Format
{
	Display/flex properties
	
	Margin/Padding/Position
	
	Text
	
	Background/Border
	
	Transition/animation
	
	Other
}
*/

body {
	margin:0;
	overflow:hidden;
	
	font-family: 'Rubik', sans-serif;
	color:var(--text);
	
	background-color:var(--base);background-image: linear-gradient(0deg,var(--dark),var(--base)); background-repeat: no-repeat; background-attachment: fixed;
}
/*GET RID OF*/
.flexbox-row {
	display:flex;
	justify-content:center;
	align-items:center;
	margin-bottom:3vw;
}

/*HEADER --------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#header-container {
	display:flex;
	justify-content:center;
	align-items:center;
	height:5em;
	width:100%;
	
	background-color:var(--darker);
	border-bottom:5px double var(--lighter);
}

#header-items {
	display:flex;
	justify-content:space-between;
	align-items:center;
	height:50%;
	width:90%;
	margin:0;
	padding:0;
	
	
	list-style-type: none;
	
}

#title-button {
	font-size: 300%;
	color:var(--text);
	text-shadow: 0px 4px 0px var(--light);
	font-family: 'Rubik', sans-serif;
	
	background:none;
	
	border:none;
}

#home-button {
	height:4em;
	width:4em;
	
	border:none;
	background-color: rgba(255, 255, 255, 0);
	background-image: url("images/home.png"); background-repeat: no-repeat;background-size:100%;
	border-radius:2em;
	
	transition:.25s;
}

#home-button:hover {
	filter: brightness(75%);
	transition:.25s;
}

#menu-container {
	width:100%;
	height:35em;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
	margin-top:4em;
	
	transition:.5s;
}

#menu-button-container {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	gap:2em;
	height:100%;
	width:8em;
	
	background-color:var(--light);
	
	border:6px double var(--dark);
	border-right:none;
	border-radius:12px 0px 0px 12px;
}

.menu-text-container {
	display:flex;
	flex-direction:column;
	align-items:center;
	
	width:24em;
	height:100%;
	
	text-align:center;
	font-size: min(max(1rem, 4vw), 22px);
	
	background-color:var(--lighter);
	
	border:6px double var(--dark);
	border-left:none;
	border-radius:0px 12px 12px 0px;
}

#play-text-container {
	display:flex;
	justify-content:center;
	align-items:center;
	gap:2em;
}

#begin-button {
	height:2em;
	margin-top:.3em;
	margin-bottom:.3em;
	padding-left:.75em;
	padding-right:.75em;
	
	color:var(--text);
	font-family: 'Rubik', sans-serif;
	font-size:2.5em;
	text-shadow: 0px 6px 0px var(--base);
	
	background-color:var(--light);
	box-shadow: 0px 18px 0px 0px var(--button);
	
	border:none;
	border-radius:12px;
	
	transition:.25s;
}

#begin-button:hover {
	box-shadow: 0px 15px 0px 0px var(--button);
	
	transition:.25s;
	transform:translateY(3px);
}

#begin-button:active {
	box-shadow: 0px 12px 0px 0px var(--button);
	
	transition:.125s;
	transform:translateY(6px);
}

#reset-button {
	padding:4px;
	
	color:FireBrick;
	font-family: 'Rubik', sans-serif;
	font-size:.75em;
	text-shadow:0px 2px 0px black;
	
	background-color:var(--light);
	
	border:none;
	border-radius:8px;
	
	transition:.2s;
}

#reset-button:hover {
	text-shadow:0px 1px 0px black;
	
	
	transition:.2s;
	transform:translateY(1px);
	
}

#reset-button-popup {
	position:absolute;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	
	width:15em;
	height:4em;
	top:45%;
	left:50%;
	
	font-size:.75em;
	text-align:center;
	
	border-radius:12px;
	
	background-color:var(--dark);
	transform:translate(-50%,-1000%);
	font-size:28px;
	border: 6px double var(--lighter);
	transition:.5s;
}

.reset-button-popup-option {
	width:4em;
	height:2em;
	
	color:var(--text);
	font-family: 'Rubik', sans-serif;
	
	background-color:var(--light);
	
	border:none;
	
	transition:.1s;
}

.reset-button-popup-option:hover {
	background-color:var(--lighter);
	
	transition:.1s;
}

.menu-button {
	width:75%;
	height:4em;
	
	font-family: 'Rubik', sans-serif;
	font-size:1em;
	color:var(--text);
	text-shadow: 	0px 6px 0px var(--button),
					0px 4px 0px var(--button),
					0px 2px 0px var(--button);
	
	background-color:var(--light);
	
	border:none;
	
	transform:translateY(0px);
	transition:.2s;
}

.menu-button:hover {
	text-shadow: 	0px 4px 0px var(--button-hover),
					0px 2px 0px var(--button-hover);
	
	transform:translateY(3px);
	transition:.2s;
}

.menu-button:active {
	color:rgb(215,215,215);
	text-shadow: 	0px 2px 0px var(--button-active);
	
	transform:translateY(6px);
	transition:.2s;
}

.menu-button-pressed {
	width:75%;
	height:4em;
	
	font-family: 'Rubik', sans-serif;
	font-size:1em;
	color:rgb(215,215,215);
	text-shadow: 	0px 2px 0px var(--button-active);
	
	background-color:var(--light);
	
	border:none;
	
	transform:translateY(6px);
	transition:.2s;
}

/*HOME SCREEN CONTENT --------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#gameplay-container {
	flex-direction:column;
	justify-content:center;
	align-items:center;
	
	width:100%;
	height:100%;
	
	transition:.5s;
}


#which-is-larger {
	display:flex;
	justify-content:center;
	align-items:center;
	
	height:2em;
	width:20em;
	margin-top:2em;
	
	font-size:1.75em;
	text-shadow: 0px 4px 0px var(--lighter);
	
	background-color:var(--light);
	
	border-radius:12px;
	border:6px double var(--lighter);
}

#country-buttons-container {
	display:flex;
	justify-content:center;
	align-items:center;
	
	width:36em;
	height:6em;
	margin-top:3em;
}

#country-or-text {
	display:flex;
	justify-content:center;
	align-items:center;
	
	height:100%;
	width:5%;
	margin-left:2vw;
	margin-right:2vw;
	
	font-size:3em;
	text-shadow: 0px 4px 0px var(--lighter);
	
	transition:1s;
	transform:scale(1);
}

.two-country-button {
	display:flex;
	justify-content:center;
	align-items:center;
	
	width:45%;
	height:100%;
	text-shadow: 0px 4px 0px var(--lighter);
	
	color:var(--text);
	font-family: 'Rubik', sans-serif;
	font-weight:bold;
	font-size:6em;
	text-decoration:none;
	
	background-color:var(--light);
	
	border:4px double var(--lighter);
	border-radius:6px;
	box-shadow: 0px 18px 0px 0px var(--button);

	transition:.075s;
}

.two-country-button:hover {
	border:4px double var(--lighter);
	box-shadow: 0px 15px 0px 0px var(--button-hover);
	
	transition:.075s;
	transform:translateY(3px);
}
.two-country-button:active {
	border:4px double var(--lighter);
	box-shadow: 0px 12px 0px 0px var(--button-active);
	
	transition:.025s;
	transform:translateY(6px);
}

#buttonOneSpan {
	transition:0s;
}

#buttonTwoSpan {
	transition:0s;
}

#streak-container {
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:center;
	
	width:36em;
	margin-top:3em;	
}

#streak-box {
	display:flex;
	justify-content:center;
	align-items:center;
	
	width:5%;
	height:2em;
	padding:.5em;
	margin-bottom:1.5em;
	
	font-size:1.5vw;
	text-shadow: 0px 4px 0px var(--darker);
	
	background-color:var(--light);
	
	border:4px double var(--lighter);
	border-radius:8px;
}

.health-container {
	display:flex;
	justify-content:center;
	align-items:center;
	
	width:10em;
	height:2em;
	margin-bottom:1.5em;
	
	background-color:var(--light);
	
	border:4px double var(--lighter);
	border-radius:8px;
}

.life-container{
	display:flex;
	width:20%;
	background-image: url("images/life.png");
	background-size:100% 100%;
	transition:.1s;
	margin-left:.5vw;
	height:100%;
}

.life-container-empty {
	filter: grayscale(100%);
	transform: scale(0.75);
	transition:.1s;
}

button {
	cursor:pointer;
}

.popup-button {
	
	background-color:var(--light);
	
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:8px 32px;
	transition:.075s;
	height:48px;
	color:var(--text);
	
	color:var(--text);
	box-shadow: 0px 12px 0px 0px var(--button);
	
	border:none;
	border-radius:6px;
	
	
}
.popup-button:hover {
	transition:.075s;
	transform:translateY(3px);
	
	box-shadow: 0px 9px 0px 0px var(--button-hover);
}
.popup-button:active {
	position:relative;
	top:1px;
	transition:.025s;
	transform:translateY(6px);
	
	box-shadow: 0px 6px 0px 0px var(--button-active);
}

.button-hidden {
	transition:0s;
	opacity:0;
}
/** POPUP STYLES ------------------------------------------------------------------------------------------- **/
#popup-background {
	position:absolute;
	width:100%;
	height:100%;
	top:50%;
	left:50%;
	background-color:rgba(55,55,55,.5);
	transform: translate(-50%,-50%);
	visibility:hidden;
	border:none;
}

.popup {
	position:absolute;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	width:50%;
	height:420px;
	border-radius:12px;
	top:35%;
	left:50%;
	background-color:var(--dark);
	transform:translate(-50%,-1000%);
	font-size:28px;
	border: 6px double var(--lighter);
	transition:.5s;
}

#popup-main-message {
	font-size:48px;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0;
	height:19%;
	margin-top:2.5%;
}

.close-button {
	position:absolute;
	color:white;
	top:0;
	right:0;
	padding:0;
	height:1.5vw;
	width:1.5vw;
	background:none;
	border:none;
	font-size:1vw;
	margin:.25vw;
	transition:.25s;
}

.close-button:hover {
	color:var(--lighter);
	transition:.25s;
}

.popup-explain-message {
	font-size:18px;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	height:19%;
}

#popup-button-container {
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	height:19%;
	margin-bottom:2.5%;
}

.popup-enabled {
	transform:translate(-50%,-50%);
	transition:.5s;
} 

/* Styling for the toggle switch in settings. Styling provided by: https://proto.io/freebies/onoff/ */
    .onoffswitch {
        position: relative; width: 64px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch-checkbox {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }
    .onoffswitch-label {
        display: block; overflow: hidden; cursor: pointer;
        border-radius: 48px;
    }
    .onoffswitch-inner {
        display: block; width: 200%; margin-left: -100%;
        transition: margin 0.1s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block; float: left; width: 50%; height: 24px; padding: 0; line-height: 24px;
        box-sizing: border-box;
    }
    .onoffswitch-inner:before {
        content: "";
        padding-left: 5px;
        background-color: var(--on-bg);
    }
    .onoffswitch-inner:after {
        content: "";
        padding-right: 5px;
        background-color: var(--off-bg);
        text-align: right;
    }
    .onoffswitch-switch {
        display: block; width: 32px; margin: -4px;
        background: var(--off-switch);
        position: absolute; top: 0; bottom: 0;
        right: 36px;
        border-radius: 48px;
        transition: all 0.1s ease-in 0s; 
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px; 
        background-color: var(--on-switch); 
    }
	
#footer-container {
	display:flex;
	width:100%;
	height:3vw;
	position:absolute;
	bottom:0%;
	align-items:center;
	justify-content:center;
	background-color:var(--darker);
	border-top:5px double var(--lighter);
	overflow:hidden;
}

#footer-text {
	padding-right:1vw;
	font-size:16px;
}

#github-image {
	transition:.5s;
	
	height:100%;
	filter: invert(1);
	transform-origin: center;
}

#github-image:hover {
	transform-origin: center;
	transform: rotate(360deg) scale(1.5);
	transition:.5s;
}

.hidden {
	transition:0s;
	display:none;
	visibility:hidden;
}