@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');

:root {
	--base:#2E2B3F; 
	--dark:#211D3B;
	--darker:#14102E;
	--light:#4C4866;
	--lighter:#686582;
	
	--off-bg:#808080;
	--on-bg:#6699ff;
	--off-switch:#bfbfbf;
	--on-switch:#e6eeff;
}

body {
	font-family: 'Rubik', sans-serif;
	margin:0;
	background-color:var(--base);
	
	background-image: linear-gradient(0deg,var(--dark),var(--base));
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.flexbox-row {
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:20px;
}

#header-left {
	flex:3;
	height:96px;
	background-color:var(--darker);
	border-color:var(--lighter);
	border-width:5px;
	border-bottom-style:solid;
}

#header-center {
	background-color:var(--darker);
	border-color:var(--lighter);
	border-width:5px;
	border-bottom-style:solid;
	height:96px;
	display:flex;
	justify-content:center;
	align-items:center;
	color:white;
	font-size:3vw;
	text-shadow: 0px 4px 0px var(--light);
}

#header-right {
	flex:3;
	height:96px;
	background-color:var(--darker);
	border-color:var(--lighter);
	border-width:5px;
	border-bottom-style:solid;
	display:flex;
	align-items:center;
	justify-content:right;
	font-size:2vw;
}

#header-right-button {
	border:none;
	background-color:rgba(0,0,0,0);
	width:2vw;
	height:2vw;
	transition:.25s;
}

#header-right-button:hover {
	filter: brightness(75%);
	transition:.25s;
}

#which-is-larger {
	height:36px;
	display:flex;
	align-items:center;
	justify-content:center;
	color:white;
	font-size:1.75vw;
	margin-top:32px;
	background-color:var(--light);
	border-radius:12px;
	border:6px double var(--lighter);
	text-shadow: 0px 4px 0px var(--lighter);
}

#country-or-text {
	display:flex;
	align-items:center;
	justify-content:center;
	height:100%;
	color:white;
	font-size:2.75vw;
	text-shadow: 0px 4px 0px var(--lighter);
	margin-left:2vw;
	margin-right:2vw;
	width:5%;
	transform:scale(1);
	transition:1s;
}

.two-country-button {
	width:15%;
	margin-top:3vw;
	margin-bottom:3vw;
	text-shadow: 0px 4px 0px var(--lighter);
	display:flex;
	align-items:center;
	justify-content:center;
	height:6vw;
	transition:1s;
	background-color:var(--light);
	padding:0;
	font-size:100%;
	
	color:white;
	font-family:Arial;
	font-weight:bold;
	padding:8px 32px;
	text-decoration:none;
	transition:.075s;
	
	visibility:visible;
	
	border-top:none;
	border-left:none;
	border-right:none;
	border-radius:6px;
	border:2px solid var(--lighter);
	
	box-shadow: 0px 12px 0px 0px rgba(0,0,0,0.75);
}

#buttonOneSpan {
	transition:0s;
}

#buttonTwoSpan {
	transition:0s;
}

.two-country-button:hover {
	transition:.075s;
	transform:translateY(3px);
	border:2px solid var(--lighter);
	
	box-shadow: 0px 9px 0px 0px rgba(0,0,0,0.75);
}
.two-country-button:active {
	position:relative;
	top:1px;
	transition:.025s;
	transform:translateY(6px);
	border:2px solid var(--lighter);
	
	box-shadow: 0px 6px 0px 0px rgba(0,0,0,0.75);
}

#streak-container {
	display:flex;
	height:64px;
	
}

#streak-box {
	display:flex;
	background-color:var(--light);
	border:4px double var(--lighter);
	border-radius:8px;
	align-items:center;
	justify-content:center;
	color:white;
	font-size:24px;
	text-shadow: 0px 4px 0px var(--darker);	
}

button {
	cursor:pointer;
}

.button {
	
	background-color:var(--light);
	
	color:white;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:8px 32px;
	text-decoration:none;
	transition:.075s;
	height:48px;
	
	visibility:visible;
	
	border-top:none;
	border-left:none;
	border-right:none;
	border-radius:6px;
	border:2px solid var(--lighter);
	
	box-shadow: 0px 12px 0px 0px rgba(0,0,0,0.75);
}
.button:hover {
	transition:.075s;
	transform:translateY(3px);
	border:2px solid var(--lighter);
	
	box-shadow: 0px 9px 0px 0px rgba(0,0,0,0.75);
}
.button:active {
	position:relative;
	top:1px;
	transition:.025s;
	transform:translateY(6px);
	border:2px solid var(--lighter);
	
	box-shadow: 0px 6px 0px 0px rgba(0,0,0,0.75);
}

.button-hidden {
	transition:0s;
	opacity:0;
}

.life-container{
	display:flex;
	margin-bottom:2vw;
	height:2vw;
	width:2vw;
	background-image: url("images/life.png");
	background-size:cover;
	transition:.1s;
}


.life-container-empty {
	filter: grayscale(100%);
	transform: scale(0.75);
	transition:.1s;
}

/** POPUP STYLES ------------------------------------------------------------------------------------------- **/
#popup-background {
	position:absolute;
	width:100%;
	height:100%;
	top:50%;
	left:50%;
	background-color:rgba(55,55,55,.5);
	transform: translate(-50%,-50%);
	visibility:hidden;
	border:none;
}

.popup {
	position:absolute;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	width:50%;
	height:420px;
	border-radius:12px;
	top:35%;
	left:50%;
	background-color:var(--dark);
	transform:translate(-50%,-1000%);
	color:white;
	font-size:28px;
	border: 6px double var(--lighter);
	transition:.5s;
}

#popup-main-message {
	font-size:48px;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0;
	height:19%;
	margin-top:2.5%;
}

.popup-explain-message {
	font-size:18px;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	height:19%;
}

#popup-button-container {
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	height:19%;
	margin-bottom:2.5%;
}

.popup-enabled {
	transform:translate(-50%,-50%);
	transition:.5s;
}

#settings-popup-main-message {
	font-size:48px;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0;
	height:19%;
	margin-top:2.5%;
}

.settings-option-container {
	height:20%;
	width:75%;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}

/* Styling for the toggle switch in settings. Styling provided by: https://proto.io/freebies/onoff/ */
    .onoffswitch {
        position: relative; width: 64px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch-checkbox {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }
    .onoffswitch-label {
        display: block; overflow: hidden; cursor: pointer;
        border-radius: 48px;
    }
    .onoffswitch-inner {
        display: block; width: 200%; margin-left: -100%;
        transition: margin 0.1s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block; float: left; width: 50%; height: 24px; padding: 0; line-height: 24px;
        box-sizing: border-box;
    }
    .onoffswitch-inner:before {
        content: "";
        padding-left: 5px;
        background-color: var(--on-bg);
    }
    .onoffswitch-inner:after {
        content: "";
        padding-right: 5px;
        background-color: var(--off-bg);
        text-align: right;
    }
    .onoffswitch-switch {
        display: block; width: 32px; margin: -4px;
        background: var(--off-switch);
        position: absolute; top: 0; bottom: 0;
        right: 36px;
        border-radius: 48px;
        transition: all 0.1s ease-in 0s; 
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px; 
        background-color: var(--on-switch); 
    }